<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.col-md-6.Email-Call {
    display: flex;
}

.Sign-Social {
    display: flex;
}

.Login-Social .row {
    display: flex;
}

.Social-Header a img {width: 26px;}

.Email-Header a img {
    width: 28px;
}

.Cal-header a img {
    width: 25px;
}</style>
<!-- end Simple Custom CSS and JS -->
